/EntityFramework/CodeFirst/CodeFirst/bin
/EntityFramework/CodeFirst/CodeFirst/obj
/EntityFramework/CodeFirst/CodeFirst/App_Data
/RestAndWebApi/Code/CodeFirst/bin
/RestAndWebApi/Code/CodeFirst/obj
/EntityFramework/CodeFirstEFMigration/CodeFirst/obj
/EntityFramework/CodeFirstEFMigration/CodeFirst/bin
/C#LanguageFoundation/Code/obj
/C#LanguageFoundation/Code/bin
/ModelValidation/CodeFirstSln/CodeFirst/obj
/ModelValidation/CodeFirstSln/CodeFirst/bin
